:root {
  --dark-green: rgba(43, 67, 47, 1);
  --light-gray: rgba(229, 232, 235, 1);
  --soft-green: rgba(110, 187, 117, 1);
  --white: rgba(255, 255, 255, 1);
  --variable-collection-dark-green: rgba(43, 67, 47, 1);
  --variable-collection-light-gray: rgba(229, 232, 235, 1);
  --variable-collection-soft-green: rgba(110, 187, 117, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
  height: auto;
}

.challenges-section {
  width: 100%;
  max-width: 1280px; /* Limiting max width */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  height: auto;
}

.feature-image {
  max-width: 100%;
  border-radius: 12px;
}

.intro-text h1 {
  font-size: 48px;
  color: var(--dark-green);
  text-align: center;
}

.intro-text p {
  font-size: 16px;
  color: var(--dark-green);
  text-align: center;
  margin: 20px 0;
}

.center {
  margin: auto;
  width: 20%;
}

/* .start-journey-button {
  background-color: var(--soft-green);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
} */

.challenges-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  padding-top: 40px;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-image {
  width: 100%;
  max-width: 150px; /* Set a max-width for images */
  border-radius: 12px;
}

.challenge-title {
  margin-top: 10px;
  font-size: 16px;
  color: var(--dark-green);
  text-align: center;
}

.test {
  height: 10000px;
  background-color: blue;
}

.content-section {
  position: relative;
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
}

.image-overlay {
  position: relative;
}

.feature-image {
  width: 100%;
  display: block; /* Remove default image margins */
  max-width: 100%;
  height: auto; /* Keep image aspect ratio */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the overlay */
  color: var(--white);
  text-align: center;
  width: 100%; /* Adjust based on your design preference */
  padding: 20px; /* Padding for text */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.start-journey-button {
  background-color: var(--soft-green);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Space above the button */
}