:root {
  --dark-green: rgba(43, 67, 47, 1);
  --light-gray: rgba(229, 232, 235, 1);
  --soft-green: rgba(110, 187, 117, 1);
  --white: rgba(255, 255, 255, 1);
  --variable-collection-dark-green: rgba(43, 67, 47, 1);
  --variable-collection-light-gray: rgba(229, 232, 235, 1);
  --variable-collection-soft-green: rgba(110, 187, 117, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --black: rgba(0,0,0,1);
}




.fitnest-heading {
  position: absolute;
  bottom: 100px; /* Adjust these values as needed */
  left: 150px;
  margin-left: 20px; /* Add some space from the edge */
  margin-top: 20px;
  font-size: 100px; /* Adjust size as needed */
}

.para {
  position: absolute;
  bottom: 150px; /* Adjust these values as needed */
  left: 150px;
  margin-left: 20px; /* Add some space from the edge */
  margin-top: 20px;
}

.intro-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
  height: auto;
  background-color: rgba(5, 17, 32, 1)
}

.content-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feature-image {
  width: 100%;
  display: block; 
  border-radius: 100px;
  height: 75vh; 
  padding: 10vh;
}

.intro-text {
  position: absolute; 
  color: var(--white);
  text-align: center;
  width: 100%; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.start-journey-button {
  background-color: var(--soft-green);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}



.challenges-section {
  display: grid;
  padding-left: 400px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 250px;
  width: 100%;
  /* padding-top: 40px; */
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Ensures everything in the challenge is centered */
}

.challenge-image {
  width: 200%; /* Increased width */
  max-width: 1050px; /* Adjust max width as needed */
  border-radius: 12px;
  margin: auto; /* Center the image within its container */
}


.challenge-title {
  margin-top: 10px;
  font-size: 16px;
  color: var(--soft-green);
  text-align: center;
}


.h2 {
  color: var(--soft-green); 
  text-align: center; 
  margin-bottom: 20px; 
}

.challenge-button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


