:root {
  --dark-green: rgba(43, 67, 47, 1);
  --light-gray: rgba(229, 232, 235, 1);
  --soft-green: rgba(110, 187, 117, 1);
  --white: rgba(255, 255, 255, 1);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
  height: auto;
}

.content-section, .challenges-section {
  width: 100%;
  max-width: 1280px; /* Limiting max width */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  height: auto;
}

.feature-image {
  max-width: 100%;
  border-radius: 12px;
}

.intro-text h1 {
  font-size: 48px;
  color: var(--dark-green);
  text-align: center;
}

.intro-text p {
  font-size: 16px;
  color: var(--dark-green);
  text-align: center;
  margin: 20px 0;
}

.start-journey-button {
  background-color: var(--soft-green);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.challenges-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  padding-top: 40px;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-image {
  width: 100%;
  max-width: 150px; /* Set a max-width for images */
  border-radius: 12px;
}

.challenge-title {
  margin-top: 10px;
  font-size: 16px;
  color: var(--dark-green);
  text-align: center;
}

.test {
  height: 10000px;
  background-color: blue;
}