.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1px; 
}

.signup-button {
  display: block;
  width: 80%; 
  max-width: 480px; 
  margin: 5px auto; 
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background-color: var(--Soft-Green, #6ebb75);
  color: #0f240f;
  font-weight: bold;
}


@media (max-width: 991px) {
  .signup-button {
    width: calc(100% - 1px); 
  }
}

.signup-container {
  align-self: center;
  width: 512px;
  max-width: 100%;
  padding: 30px 16px;
  font-size: 16px;
  color: var(--Dark-Green, #2b432f);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.signup-title {
  font-family: Lexend, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.7px;
  margin: 0;
  font-feature-settings: "dlig" on;
  text-align: center;
  width: 100%; 
}