*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

body {
    background-color: #ffffff;
}

.container {
    align-items: center;
    background-color: var(--White, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 800px;
    width: 100%;
    align-items: stretch;
}

.header {
    background-color: var(--White, #fff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(229, 232, 235, 1);
    padding: 12px 40px;
    font-weight: 700;
    height: 10%;  
}

@media (max-width: 100%) {
    .header {
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
    letter-spacing: -0.27px;
    color: var(--variable-collection-dark-green);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.27px;
    line-height: 22.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.logo {
    width: 16px;
}

.logo-text {
    font-family: "Lexend-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.27px;
    line-height: 22.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
.div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 800px;
    position: relative;
    width: 100%;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Soft-Green, #6ebb75);
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 14px;
    color: #0f240f;
    letter-spacing: 0.21px;
    line-height: 150%;
    font-weight: bold;  
}

.login-text {
    font-family: Lexend, sans-serif;
    font-feature-settings: "dlig" on;
}

.signup-container {
    align-self: center;
    width: 512px;
    max-width: 100%;
    padding: 30px 16px;
    font-size: 16px;
    color: var(--Dark-Green, #2b432f);
    font-weight: 500;
}

.signup-title {
    font-family: Lexend, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.7px;
    margin: 0;
    font-feature-settings: "dlig" on;
    align-content: center;
}

@media (max-width: 991px) {
    .signup-title {
        max-width: 100%;
    }
}

.form-group {
    margin-top: 24px;
}

.form-label {
    font-family: Lexend, sans-serif;
    line-height: 150%;
    font-feature-settings: "dlig" on;
}

.form-input {
    align-items: flex-start;
    border-style: solid;
    background-color: var(--variable-collection-light-gray);
    color: var(--variable-collection-dark-green);
    font-family: "Lexend-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: -0.86px;
    margin-top: -20px;
    white-space: nowrap;
    border-radius: 12px;
    height: 56px;
    justify-content: space-around;
    overflow: hidden;
    padding: 16px;
    position: relative;
    width: 480px;
    margin-top: 8px;
    font-feature-settings: "dlig" on;
    border: none;
}
::placeholder {
    color: var(--variable-collection-dark-green);
    font-family: "Lexend-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: -0.86px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Soft-Green, #6ebb75);
    color: #0f240f;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 24px 0 218px;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.24px;
    line-height: 150%;
    cursor: pointer;
    border: none;
    font-feature-settings: "dlig" on;
}

@media (max-width: 991px) {
    .signup-button {
        max-width: 100%;
        margin-bottom: 40px;
    }
}